html,
body,
#root,
.app,
.content {
	height: 100%;
	width: 100%;
	font-family: "JetBrains Mono", monospace;
}

.app {
	display: flex;
	position: relative;
}

.content {
	min-width: 80%;
	flex: 1;
}

::-webkit-scrollbar {
	width: 10px;
}

/* TRACK */
::-webkit-scrollbar-track {
	background: #e0e0e0;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* HANDLE ON HOVER */
::-webkit-scrollbar-track:hover {
	background: #555;
}

/* DISABLE HIDE/VIEW PASSWORD */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
	display: none;
}
